:host {
    display: block;
    background-color: #fcfcfc;
    width: 100%;
}

.page-full {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    section {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
}

.page-header {
    display: flex;
    padding: 1.25rem;
    background-color: #eeeeee;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.page-error {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
}

.page-loading {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
}

@media (min-width: 770px) {
    .page-full {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
